.off-canvas-menu-processed {

}

.off-canvas-menu-processed ul ul {
  display: none;
}

.off-canvas-menu-processed i.expand {
  float: right;
}

.off-canvas-menu-processed li {
  /*background-color: #242424; */
}

.off-canvas-menu-processed li li {
  background-color: #454545;
}

.off-canvas-menu-processed li li li {
  background-color: #565656;
}